.titulo {
  color: rgb(0, 0, 0);
  background-color: rgb(151, 172, 172);
  padding: 10% 0% 10% 0%;
  max-width: 65%;
  text-align: center;
  border: rgb(5, 0, 0) solid 5px;
  /* position: relative; */
  left: 25%;
  right: 25%;
  border-radius: 2%;
  font-size: 90%;
  position: absolute;
}

#fotografia {
  border-radius: 0px 0px 0px 50px;
}

.redessociais {
  display: inline-block;
  padding: 5px
}

#tituloProjetos {
  font-style: italic;
}

.button:hover {
  background-color: rgb(151, 240, 240);
  border: black solid 2px;
}
