h1 {
  color: blue;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  }
#quem {
    font-family: cursive, 'Times New Roman', Times, serif;
  }
body {
  background-color: cornsilk;
}
.uno {
  font-size: 50px;
}
.dos {
  font-size: 40px;
}
.tes {
  font-size: 30px;
}
.cuatu {
  font-size: 20px;
}

.description {
  max-width: 250px;
  left: 00px;
}

.photo {

}

.lista-resumida {
  padding: 50px;
}