.titulo {
  color: rgb(0, 0, 0);
  background-color: rgb(151, 172, 172);
  padding: 20px;
  max-width: 40%;
  text-align: center;
  border: rgb(5, 0, 0) solid 5px;
  position: relative;
  left: 25%;
  border-radius: 2%;
}

.caixinhaindex li{
  display: inline-block;
  margin: auto;
  align-items: center;
  padding: 30px;
  /* background-color: darkred; */

}

#fotografia {
  border-radius: 0px 0px 0px 50px;
}